
.card {
  background-color: #eda7f5;
  text-align: center;
  border-radius: 15px;
  width: 90%;
  height: 40vh;
  margin-left:  8vh; 
  margin-right: 8vh;
  margin-top:  10vh;
}

h1, .lastname {
  font-size: 2.5rem;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}


h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fffc45;
}
a {
  color: #070a1f;
  font-size: 1.5rem;
  gap: 10px;

}
a:hover {
  color:red;
}
ul{
  list-style-position: inside;
}
@media screen and (min-width: 605px){
  .card {
  background-color: #e7b8ef;
  text-align: center;
  border-radius: 15px;
  width: 90%;
  height: 50vh;
  margin-left:  8vh; 
  margin-right: 8vh;
  margin-top:  10vh;
}

h1, .lastname {
  font-size: 2.5rem;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}


h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #851de7;
}
a {
  color: #070a1f;
  font-size: 1.5rem;
  gap: 10px;

}
a:hover {
  color:red;
}
ul{
  list-style-position: inside;}
}