
.card {
  background-color: #eda7f5;
  text-align: center;
  border-radius: 15px;
  width: 90%;
  margin-left:  8vh; 
  margin-right: 8vh;
}

h1, .lastname {
  font-size: 2.5rem;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}


h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fffc45;
}
.resume, .github{
  color: #092cf2;
  margin-bottom: 20px;
  font-size: 1.5rem;
  margin-bottom: 12px;
}
a:hover {
  color:red;
}
ul{
  list-style-position: inside;
}
@media (min-width: 700px){
    .card {
  background-color: #f6acc3;
  text-align: center;
  border-radius: 15px;
  width: 90%;
  margin-left:80px ;
}

h1, .lastname {
  font-size: 2.5rem;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}


h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #961d82;
}
.resume, .github{
  color: #092cf2;
  margin-bottom: 20px;
  font-size: 1.5rem;
  margin-bottom: 12px;
}
a:hover {
  color:red;
}
ul{
  list-style-position: inside;
}

}