body {
  font-family: Arial, sans-serif;
  line-height: 1px;
  margin: 3%;
}
.contact-info{
  display: flex;
  margin: 1%;
  gap:2.5%;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-info a {
  white-space: nowrap;
}
.container {
  background: #eddbe9;
} 

h1{
color: #8711fd;
text-decoration: underline;
margin-bottom: 2%;
text-align: center;
} 
h2, h3 {
  color: #403c3f;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  text-align: center;
  text-align: center;
}
p{
  color: #7c07f8;
  text-decoration: underline;
  font-size: 1rem;
  text-align: center;
}
.item1{
  line-height: 1.5rem;
}
.education{
  background-color: red;
}
a {
  color: #2980b9;
  margin:.5%;
  font-size: 1rem;
  text-align: center;
}

a:hover {
  color: red;
}




@media screen and (min-width: 768px){
  body {
  font-family: Arial, sans-serif;
  line-height: 1;
  margin: 3%;
}
.contact-info{
  display: flex;
  margin: 1%;
  gap:2.5%;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-info a {
  white-space: nowrap;
}
.container {
  background: #eddbe9;
} 

h1{
color: #8711fd;
text-decoration: underline;
margin-bottom: 2%;
text-align: center;
} 
h2, h3 {
  color: #403c3f;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  text-align: center;
  text-align: center;
}
p{
  color: #7c07f8;
  text-decoration: underline;
  font-size: 1rem;
  text-align: center;
}
.item1{
  line-height: 1.5rem;
}
.education{
  background-color: red;
}
a {
  color: #2980b9;
  margin:.5%;
  font-size: 1rem;
  text-align: center;
}

a:hover {
  color: red;
}
}
